* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom left, #9a4094, #b135a2, #4a194d);
    background-attachment: fixed;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 2rem;
}

.box {
    width: 65vw;
    height: 70vh;
    background-color: #d1a5c9;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.bbox {
    width: 60vw;
    height: 50vh;
    background-color: #dbe2e3;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.buttons {
    margin-top: 20px;
}

.butt {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6a1b9a;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.butt i {
    margin-right: 5px;
}

.butt:hover {
    background-color: #8e24aa;
}

.color-picker input {
    cursor: pointer;
}

.thickness-slider {
    margin-top: 10px;
}
